---
import MemberCard from "./MemberCard.astro"
import SVGUndrawFemaleAvatar from "../assets/undraw_female_avatar_w3jk.svg"
import SVGUndrawMaleAvatar from "../assets/undraw_male_avatar_323b.svg"

const memberList = [
  {
    imgSrc: SVGUndrawMaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "송기선",
      title: "CEO",
      items: [
        "현대자동차 책임연구원",
        "Georgia Institute of Technology 박사",
        "서울대학교 학, 석사",
      ],
    },
  },
  {
    imgSrc: SVGUndrawMaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "천명철",
      title: "CMO",
      items: [
        "ICT융합기술평가위원",
        "Georgia Institute of Technology 석사",
        "한양대학교 학사",
      ],
    },
  },
]

const advisorList = [
  {
    imgSrc: SVGUndrawMaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "박대형",
      title: "기술, R&D 자문",
      items: [
        "한국과학기술원 (KAIST) 전산학과 조교수",
        "Massachusetts Institute of Technology 연구원",
        "Georgia Institute of Technology 박사",
      ],
    },
  },
  {
    imgSrc: SVGUndrawMaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "김창균",
      title: "법률 자문",
      items: ["건설공제조합 전담변호사", "서울대학교 학사"],
    },
  },
  {
    imgSrc: SVGUndrawFemaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "김지우",
      title: "지적재산권 자문",
      items: ["다선 특허법률사무소 대표변리사", "서울대학교 학사"],
    },
  },
]
---

<section id="team" class="max-w-screen-xl mx-auto text-white px-4 py-32">
  <header class="flex items-end justify-center mb-4">
    <h2 class="text-2xl md:text-3xl font-bold">창업멤버</h2>
  </header>
  <div class="flex flex-col sm:flex-row flex-wrap justify-center mb-16">
    {memberList.map(({ imgSrc, imgAlt, member }) => (
      <MemberCard imgSrc={imgSrc} imgAlt={imgAlt} member={member} />
    ))}
  </div>
  <h2 class="text-center text-2xl md:text-3xl font-bold mb-4">자문위원</h2>
  <div class="flex flex-wrap justify-center">
    {advisorList.map(({ imgSrc, imgAlt, member }) => (
      <MemberCard imgSrc={imgSrc} imgAlt={imgAlt} member={member} />
    ))}
  </div>
</section>
